* {
    background-color: #0883AA;
    font-family: "rock";
}

@font-face {
    font-family: "rock";
    src: url(./fonts/RocknRollOne-Regular.ttf);
}

header {
    width: 100%;
    height: 100px;
    background-color: gray;
    padding: 15px;
    display: flex;
    justify-content: center;
    border-radius: ;
}
section{
    width: 100%;
    height: 200px;
    background-color: gray;
    padding: 15px;
}

.img1 {
    margin-left: 200px;
    margin-right: 25px;
    height: 200px;
    width: 300px;
    border-radius: 60px;
}

.img2,
.img3,
.img4 {
    margin-right: 25px;
    height: 200px;
    width: 300px;
    border-radius: 60px;
}

.navegacion {
    margin-left: 450px;
}

.navigation {
    margin-right: 150px;
    margin-top: 100px;
    border-radius: 10px;
    padding: auto;
}

footer {
    width: 100%;
    height: 100px;
    background-color: aliceblue;
    align-content: center;

}

.stone {
    height: 30rem;
    width: 30rem;
    margin-left: 40REM;

}

p {
    text-align: center;
    margin-bottom: 5REM;
    width: 30REM;
    margin-left: 40REM;

}

form {
    margin-left: 25rem;
    width: 50%;
    height: 15rem;
    display: grid;
    justify-items: center;
}

input::placeholder {
    color: black;
}

.inputform {
    width: 70%;
    background-color: white;
}

.video {
    margin-left: 37rem;
}

.mapa {
    margin-left: 37rem;
}

.locs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


